*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section1{
    height: 100vh;
    background: rgb(243, 138, 100);
}

.section2{
    height: 100vh;
    background: rgb(67, 110, 252);
}

.section3{
    height: 100vh;
    background: rgb(104, 255, 91);
}